
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #FFFFFF;
}

body{
    font-family: 'Segoe UI';
}

a{
    text-decoration: none;
}
.container{
    max-width:  125rem;
    width: 100%;
    margin: 0 auto;
}

.head-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;

}

.head-icon img{
   
}

.search-div{
    display: flex;
    align-items: center;
}

.search-icon{
    position:relative;
}

#search-iconid{
    width: 2rem;
    position: absolute;
    top: 3.5px;
    right: 3px;
}


/* about  */
.about-text{
    
}

.about-div{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}

.about-div2{
    width: 60%;
}

.about-div3{
    display: flex;
    justify-content: space-between;
    column-gap: 4rem;
    margin-top: 5rem;
}

.about-div-pic1{
    width: 30rem;
}

.about-pic2 {
    width: 35%;
    margin-top: 3rem;
}

#aboutpic2 {
    width: 100%;
    
}
.footer{
    background-color:#BF7631;
}